<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659070706398-ff1bqoacloqqaa58jmpjk5ojvp34auuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659070706398-ff1bqoacloqqaa58jmpjk5ojvp34auuc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659070706398-abqtdsmo42mv3jt32kklgb3o9sgcvfln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsfQqFqS6jQCymYEUp_ZSJiJkd5EUs4T4</string>
	<key>GCM_SENDER_ID</key>
	<string>659070706398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atstukiuenishi.movicolle</string>
	<key>PROJECT_ID</key>
	<string>movicolle-1949d</string>
	<key>STORAGE_BUCKET</key>
	<string>movicolle-1949d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659070706398:ios:2a353064e0e27d8326184f</string>
</dict>
</plist>